




<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subscription_name, 'サービス名' %>
    <span class="badge badge-danger">必須</span>
    <%= form.text_field :subscription_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :post_image, '画像投稿' %>
    <%= form.file_field :post_image, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description, '詳細' %>
    <span class="badge badge-danger">必須</span>
    <%= form.text_area :description, class: 'form-control', rows: 5 %>
  </div>

  <div class="field">
    <%= form.label :monthly_price, '月額' %>
    <span class="badge badge-danger">必須</span>
    <%= form.number_field :monthly_price, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :trial_term, 'トライアル期間' %>
    <span class="badge badge-danger">必須</span>
    <label><%= form.radio_button :trial_term, 0 %> あり </label>
    <label><%= form.radio_button :trial_term, 1 %> なし </label>
  </div>

  <div class="field">
    <%= form.label :url, 'URLアドレス' %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :tagname) do |tag| %>
      <%= tag.label do %>
        <%= tag.check_box %>
        <%= tag.text %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
