<p id="notice"><%= notice %></p>

<section class="jumbotron text-center">
  <div class="container">
    <div class="main-container"></div>
  </div>
</section>

<div class="container">
<div class="row">
  <div class="col-lg-4">
    <h1>投稿</h1>
    <h5>お気に入りのサブスクリプションサービスを投稿しよう</h5>
  </div>
  <div class="col-lg-4">
    <h1>拡散</h1>
    <h5>サービスを知らない友だちを広めよう</h5>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h1>口コミ</h1>
    <h5>口コミを書いてサービスの良さを伝えよう</h5>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</div>

<div class="container">
  <section class="jumbotron text-center">
    <h3 class="jumbotron-heading">検索フォーム</h3>
    <%= form_tag(posts_path, :method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', :name => nil %>
    <% end %>

    <%= form_tag posts_path, method: :get, class: '' do %>
      <%= select_tag :tag_id,
      options_from_collection_for_select(Tag.all, :id, :tagname, params[:tag_id]),
                    {
                     prompt: 'タグ検索',
                     onchange: 'submit(this.form);'
                    }
      %>
    <% end %>
  </section>
</div>

<div class="container">
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 col-md-4">
      <div class="card mb-4 shadow-sm">
        <% if post.post_image.attached? %>
          <%= image_tag post.post_image.variant(resize: "300x300")%>
        <% end %>

        <div class="card-body">
          <p class="card-title"><%= post.subscription_name %></p>
          <p class="card-text"><%= post.description %></p>
          <small class="text-muted"><%= post.created_at.to_s(:datetime_jp) %></small>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <% if user_signed_in? %>
                <%= link_to '詳細', post, class: 'btn btn-success text-white'%>
              <% end %>
              <% if user_signed_in? && current_user == post.user %>
                <%= link_to '編集', edit_post_path(post), class: 'btn btn-warning text-white'%>
                <%= link_to '削除', post, class: 'btn btn-danger text-white', method: :delete %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>